/*--regal-navy: #134074ff;
--oxford-navy: #13315cff;
--prussian-blue: #0b2545ff;
--powder-blue: #8da9c4ff;
--mint-cream: #eef4edff;*/
* {
    background-color: #eef4edff;
    margin: 00px;
    padding: 0;
}
html {
    font-size: 20px;
    color:#13315cff 
}

a {
        text-decoration: none;
        background-color: transparent;  
    }

a:visited {
    color: #13315cff;
}

header {
    background-color:#0b2545 ;
}

header #Logo {
    font-size: 25px;
    }

header nav {
    background-color: #0b2545;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px; 
    color: #8da9c4;
}

nav a {
color:#8da9c4 ;
padding-right: 10px;
}

nav a:visited {
color:#8da9c4 ;
}

header svg {
    background-color: transparent;
    padding: 10px;
}

#logo {
    background-color: transparent;
}
 
#habilidades {
    height: 50vh;
}

#projetos {
    height: 50vh;
}

#contato {
    height: 20vh;
    color: #0b2545;
}

#sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 80%;
    margin: auto;
    padding: 40px;
}

.conteudo {
    flex: 1;
}

.titulos {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.texto-sobre {
    text-align: justify;
    width: 65%;
}

#sobre img {
    width: 350px;
    border-radius: 10px;
    }

footer {
    padding: 03px;
    color:#8da9c4;
    height: 05vh;
    background-color:#0b2545 ;
}

footer p {
   background-color:#0b2545 ; 
}

footer a {
   color:#8da9c4; 
   display: flex;
   justify-content: flex-end;
}