/*--regal-navy: #134074ff;
--oxford-navy: #13315cff;
--prussian-blue: #0b2545ff;
--powder-blue: #8da9c4ff;
--mint-cream: #eef4edff;*/
* {
    background-color: #eef4edff;
    margin: 00px;
    padding: 0;
}

html {
    font-size: 20px;
    color: #13315cff
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:visited {
    color: #13315cff;
}

header {
    background-color: #0b2545;
}

header #Logo {
    font-size: 25px;
}

header nav {
    background-color: #0b2545;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
    color: #8da9c4;
}

nav a {
    color: #8da9c4;
    padding-right: 10px;
}

nav a:visited {
    color: #8da9c4;
}

header svg {
    background-color: transparent;
    padding: 10px;
}

h2 {
    text-align: center;
    padding: 20px;
    margin: 10px 20px 30px 40px;
}

#logo {
    background-color: transparent;
}

.conteudo {
    flex: 1;
    padding: 10px;
}

#sobre {
    height: 70vh;
    
}

.texto-sobre {
    text-align:justify;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 70%;
    padding: 20px 50px;
    margin-left: 250px;
}

#fotoPerfil {
    width: 350px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 0px;
    flex-shrink: 0;
    }

#habilidades {
    height: 50vh;  
    margin: 50px; 
    margin-left: 100px;
    margin-top: 100px;
}

.container {
    display: grid;
    flex-direction:row;
    justify-content: space-around;
    list-style-type: none;
    padding: 30px 70px 30px 40px;
    columns:auto;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px;
}

#habilidadesBox {
    display: flex;
    border: 1px solid #0b2545 ;
    border-radius: 10px;
    margin: 10px;
    height: 80px;
    width: 300px;
    justify-content: center;
    align-items: center;
}

#projetos {
    height: 50vh;
}

#contato {
    height: 40vh;
    color: #0b2545;
}

#contato a {
    color: #0b2545;   
}

.titulos {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

#footer {
    padding: 03px;
    color: #8da9c4;
    height: 05vh;
    background-color: #0b2545;
}

