/*--regal-navy: #134074ff;
--oxford-navy: #13315cff;
--prussian-blue: #0b2545ff;
--powder-blue: #8da9c4ff;
--mint-cream: #eef4edff;*/
* {
    background-color: #eef4edff;
    margin: 00px;
    padding: 0;
}

html {
    font-size: 20px;
    color: #13315cff
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:visited {
    color: #13315cff;
}

header {
    background-color: #0b2545;
}

header #Logo {
    font-size: 25px;
}

header nav {
    background-color: #0b2545;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
    color: #8da9c4;
}

nav a {
    color: #8da9c4;
    padding-right: 10px;
}

nav a:visited {
    color: #8da9c4;
}

header svg {
    background-color: transparent;
    padding: 10px;
}

#logo {
    background-color: transparent;
}

.conteudo {
    flex: 1;
    padding: 10px;
}

#sobre {
    height: 70vh;
}

.texto-sobre {
    text-align:justify;
    display: inline-block;
    gap: 50px;
    width: 50%;
    margin: 50px auto 150px 50px;
    padding: 10px 200px 15px 100px;  
}

#sobre img {
    float: right;
    display: inline-block;
    width: 350px;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 150px;
}

#habilidades {
    height: 50vh;
    
}

#habilidades h2 {
    text-align: center;
}

#projetos {
    height: 50vh;
}

#contato {
    height: 20vh;
    color: #0b2545;
}

.titulos {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

#contato2 {
    padding: 03px;
    color: #8da9c4;
    height: 05vh;
    background-color: #0b2545;
}